<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sneakerhead</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="adminassets/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="screen-overlay"></div>
    
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
              <img src="adminassets/imgs/logo2.png" class="logo" alt="Sneakerhead Dashboard">
              <h4 style="color: black;">Sneakerhead</h4>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
          <ul class="menu-aside">
              <li class="menu-item">
                  <a class="menu-link" href="/admin/home"> <!-- Placeholder link for Users -->
                      <i class="icon material-icons md-perm_identity"></i>
                      <span class="text">Dashboard</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/userlist"> <!-- Placeholder link for produts -->
                      <i class="icon material-icons md-person"></i>
                      <span class="text">Users</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/category"> <!-- Placeholder link for Categories -->
                      <i class="icon material-icons md-star"></i>
                      <span class="text">Categories</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/product"> <!-- Placeholder link for Products -->
                      <i class="icon material-icons md-shopping_bag"></i>
                      <span class="text">Products</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/order"> <!-- Placeholder link for orders -->
                      <i class="icon material-icons md-menu"></i>
                      <span class="text">Orders</span>
                  </a>
              </li>

              <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-local_offer"></i>
                      <span class="text">Offers</span>
                  </a>
                  <div class="submenu">
                      <a href="/admin/categoryOffer">Category offer</a>
                      <a href="/admin/productoffer">Product offer</a>
                  </div>
              </li>
              
              <li class="menu-item">
                  <a class="menu-link" href="/admin/coupon"> <!-- Placeholder link for orders -->
                      <i class="icon material-icons md-apps"></i>
                      <span class="text">Coupon</span>
                  </a>
              </li>
              <!-- <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-local_offer"></i>
                      <span class="text">Offers</span>
                  </a>
                  <div class="submenu">
                      <a href="/admin/loadCategoryOffer">Category offer</a>
                      <a href="/admin/loadProductOffer">Product offer</a>
                  </div>
              </li> -->
              <li class="menu-item ">
                  <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-assessment"></i>
                      <span class="text">Sales Report</span>
                  </a>
                 
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/logout"> <!-- Placeholder link for orders -->
                      <i class="icon material-icons md-exit_to_app"></i>
                      <span class="text">Logout</span>
                  </a>
              </li>
          </ul>
      </nav>
    </aside>