<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/login.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/registrations/registration-9/assets/css/registration-9.css">
<!-- Add this code inside the <head> tag of your HTML document -->
  <style>
    .message {
        text-align: center; /* Center align the text */
        padding: 10px; /* Add padding for better readability */
        background-color: #f8d7da; /* Add a background color */
        color: #721c24; /* Set text color */
        border: 1px solid #f5c6cb; /* Add a border */
        border-radius: 5px; /* Add border radius for rounded corners */
        margin-bottom: 20px; /* Add some space below the message */
    }
</style>

<title> Sneakerhead Sign-up </title>
</head>
<body>
  <!-- Registration 9 - Bootstrap Brain Component -->
<section class="bg-primary py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-12 col-md-6 col-xl-7">
          <div class="d-flex justify-content-center text-bg-primary">
            <div class="col-12 col-xl-9">
              <img class="img-fluid rounded mb-4" loading="lazy" src="img/logo2.png" width="350" height="50" alt="Sneakerhead logo" style=" filter: grayscale(100%) brightness(0%) opacity(0.5);" >
              <hr class="border-primary-subtle mb-4">
               <h2 class="h1 mb-4">Step into Style, Step into Confidence .</h2>
              <p class="lead mb-5">We design the narrative, capture the style, showcase the walk, and enhance with smart tech.</p>
              <div class="text-endx">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                  <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5">
          <div class="card border-0 rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-4">
                    <h2 class="h3">Registration</h2>
                    <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
                  </div>
                </div>
              </div>
              <form action="/user/register" method="post" id="registrationForm">
                <div class="row gy-2 overflow-hidden">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="name" required>
                            <label for="name" class="form-label">Name</label>
                            <div id="name-error" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                            <label for="email" class="form-label">Email</label>
                            <div id="email-error" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="mobile" id="mobileno" placeholder="mobile" required>
                            <label for="mobile" class="form-label">Mobile</label>
                            <div id="mobileno-error" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="userpassword" value="" placeholder="Password" required>
                            <label for="password" class="form-label">Password</label>
                            <div id="userpassword-error" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" value="" placeholder="Confirm Password" required>
                            <label for="confirmpassword" class="form-label">Confirm Password</label>
                            <div id="confirmpassword-error" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="referralCode" id="referralCode" value="" placeholder="">
                            <label for="referralCode" class="form-label">Refer Code (Optional)</label>
                            <div id="referralCodeError" class="error-message text-danger small-font"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                            <label class="form-check-label text-secondary" for="iAgree">
                                I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Send OTP</button>
                        </div>
                    </div>
                </div>
            </form>
              <br><br>
              <div class="row">
                <div class="col-12">
                  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                    <p class="m-0 text-secondary text-center">Already have an account? <a href="/user/login" class="link-primary text-decoration-none">Sign in</a></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="mt-4 mb-4">Or continue with</p>
                  <div class="d-flex gap-2 gap-sm-3 justify-content-centerX">
                    <a href="#!" class="btn btn-outline-danger bsb-btn-circle bsb-btn-circle-2xl">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                      </svg>
                    </a>
                    <a href="#!" class="btn btn-outline-primary bsb-btn-circle bsb-btn-circle-2xl">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                      </svg>
                    </a>
                    <a href="#!" class="btn btn-outline-dark bsb-btn-circle bsb-btn-circle-2xl">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Function to get query parameters by name
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    // Get the value of the 'referralCode' query parameter
    const referralCodeValue = getQueryParam('referralCode');

    // If the referral code is present in the query parameter, set it as the input value
    if (referralCodeValue) {
        document.getElementById('referralCode').value = referralCodeValue;
    }
</script>

  <script>
    // Validation functions for each input field
    function validateName() {
    var nameInput = document.getElementById("name");
    var name = nameInput.value.trim();
    var nameRegex = /^[A-Z][a-z]+(?: [A-Z][a-z]+)?$/;
    if (!nameRegex.test(name)) {
        showError("name-error", "Name must contain only characters with an optional space between names.");
        return false;
    } else {
        hideError("name-error");
        return true;
    }
}

function validateReferralCode() {
    var codeInput = document.getElementById('referralCode');
    var code = codeInput.value.trim();
    var codeRegex = /^[A-Za-z0-9]{8}$/; // Corrected regex
    if (code === "") {
        hideError("referralCodeError");
        return true; // If empty, validation is considered successful
    }
    if (!codeRegex.test(code)) {
        showError("referralCodeError", "Referral code must be 8 characters long and include only letters and numbers.");
        return false;
    } else {
        hideError("referralCodeError");
        return true;
    }
}

function validatePassword() {
    var passwordInput = document.getElementById("userpassword");
    var password = passwordInput.value;
    var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/;
    if (!passwordRegex.test(password)) {
        showError("userpassword-error", "Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 8 characters long");
        return false;
    } else {
        hideError("userpassword-error");
        return true;
    }
}

function validateConfirmPassword() {
    var passwordInput = document.getElementById("userpassword");
    var confirmPasswordInput = document.getElementById("confirmpassword");
    var confirmPassword = confirmPasswordInput.value;
    if (passwordInput.value !== confirmPassword) {
        showError("confirmpassword-error", "Passwords do not match");
        return false;
    } else {
        hideError("confirmpassword-error");
        return true;
    }
}

function validateEmail() {
    var emailInput = document.getElementById("email");
    var email = emailInput.value;
    var emailRegex = /^[a-z0-9._%+-]+@gmail.com$/;
    if (!emailRegex.test(email)) {
        showError("email-error", "Please enter a valid email address");
        return false;
    } else {
        hideError("email-error");
        return true;
    }
}

function validateMobile() {
    var mobileInput = document.getElementById("mobileno");
    var mobile = mobileInput.value.trim();
    
    var mobileRegex = /^(91)?[6-9]\d{9}$/;
    
    if (mobile.length === 10 && /^[6-9]\d{9}$/.test(mobile)) {
        hideError("mobileno-error");
        return true;
    } else if (mobile.length === 11 && /^0[6-9]\d{9}$/.test(mobile)) {
        hideError("mobileno-error");
        return true;
    } else if (mobile.length === 12 && mobileRegex.test(mobile)) {
        hideError("mobileno-error");
        return true;
    } else {
        showError("mobileno-error", "Please enter a valid mobile number starting with a digit from 6 to 9");
        return false;
    }
}

function showError(inputId, message) {
    var errorElement = document.getElementById(inputId);
    if (!errorElement) {
        errorElement = document.createElement("div");
        errorElement.id = inputId;
        errorElement.className = "error-message text-danger small-font";
        document.getElementById(inputId.replace("-error", "")).insertAdjacentElement("afterend", errorElement);
    }
    errorElement.textContent = message;
}

function hideError(inputId) {
    var errorElement = document.getElementById(inputId);
    if (errorElement) {
        errorElement.remove();
    }
}

function validateForm(event) {
    var isNameValid = validateName();
    var isEmailValid = validateEmail();
    var isMobileValid = validateMobile();
    var isPasswordValid = validatePassword();
    var isConfirmPasswordValid = validateConfirmPassword();
    var isCodeValid = validateReferralCode();

    if (!isNameValid || !isEmailValid || !isMobileValid || !isPasswordValid || !isConfirmPasswordValid || !isCodeValid) {
        event.preventDefault();
        return false;
    }
    return true;
}

document.getElementById('registrationForm').addEventListener('submit', validateForm);


</script>
</body>
</html>